# Python (Backend)
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/database.db
backend/.env

# JavaScript (Frontend)
frontend/node_modules/
frontend/dist/
frontend/.env

# Sistema
.DS_Store
Thumbs.db